/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arvo|Metamorphous');

body {
  background-color: #f5f8fa;
  font-family: 'Arvo', serif;
  color: #66757f;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Metamorphous', cursive;
}

h2 {
  font-family: 'Metamorphous', cursive;
}

a {
  color: #1da1f2;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #3b88c3;
}

button {
  color: #fff;
  background-color: #1da1f2;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
  background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
  border: none;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  padding: 8px 16px;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

button:hover {
  background-color: #3b88c3;
}

input {
  display: inline-block;
  width: 210px;
  padding: 8px 16px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  margin-right: 5px;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 46px;
  background-color: #fff;
  position: fixed;
  z-index: 20;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logo {
  margin-left: 20px;
}

.navbar > p {
  margin-right: 20px;
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-top: 61px;
  width: 100%;
  min-height: calc(100vh - 129px);
}

app-search-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}

app-tweet-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

app-tweet-list > div {
  background-color: #fff;
  border: 1px solid #e6ecf0;
  margin-top: 10px;
  min-height: 51px;
  height: auto;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0px .5px 10px rgba(0,0,0,0.06);
}

app-tweet {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}

form > input {
  box-shadow: 0px 1px 15px rgba(0,0,0,0.1);
}

app-main-page {
  width: auto;
  max-width: 900px;
  padding-left: 25px;
  padding-right: 25px;
}

app-main-page > a {
  float: right;
  padding: 5px;
}

app-tweet > img {
  width: 100%;
  max-width: 48px;
  height: 48px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
  flex: 1;
}

app-tweet > div {
  margin-left: 12px;
}

app-user {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.user-details {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 12px;
}

.user-details > .name {
  color: #14171a;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.user-details > .screen-name, .date {
  color: #657786;
  font-size: 14px;
  margin-left: 5px;
  transition: all 0.3s ease-in;
}

.user-details > .name:hover {
  color: #3b88c3;
}

.user-details > .screen-name:hover {
  color: #3b88c3;
}

.user-container {
  background-color: #fff;
  border: 1px solid #e6ecf0;
  margin-top: 10px;
  min-height: 51px;
  height: auto;
  width: auto;
  max-width: 900px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0px .5px 10px rgba(0,0,0,0.06);
  position: relative;
}

.user-container > .banner {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.user-container > .banner > img {
  width: 100%;
  height: auto;
}

.user-container > .avatar {
  position: relative;
  left: 20px;
  top: -20px;
  border-radius: 6px;
  border: 5px solid #fff;
  box-shadow: 0px .5px 10px rgba(0,0,0,0.15);
}

.user-container > .details-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.user-container > .details-container > .details {
  position: relative;
  top: -50px;
  left: 20px;
  width: 200px;
  margin-right: 10px;
}

.user-container > .details-container > .details > .name {
  font-size: 21px;
  color: #14171a;
  font-weight: bold;
  height: auto;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.user-container > .details-container > .details > .username {
  font-size: 14px;
}

.user-container > .details-container > .details > .description {
  font-size: 12px;
  width: 190px;
  padding-top: 5px;
  color: #14171a;
  direction: ltr;
  text-align: left;
  unicode-bidi: embed;
  word-break: break-all;
  word-wrap: break-word;
}

.user-container > .details-container > .details > .location {
  font-size: 14px;
  width: 190px;
  padding-top: 10px;
  color: #14171a;
  word-wrap: break-word;
}

.user-container > .details-container > .details > .joined {
  font-size: 14px;
  width: 190px;
  padding-top: 10px;
  color: #14171a;
  word-wrap: break-word;
}

.user-container > .stats {
  position: relative;
  left: 90px;
  top: -55px;
  width: calc(100% - 102px);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.user-container > .stats > .tweets {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
}

.user-container > .stats > .tweets > .title {
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.user-container > .stats > .tweets > .total {
  font-size: 18px;
  font-weight: 600;
}

.user-container > .stats > .following {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
}

.user-container > .stats > .following > .title {
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.user-container > .stats > .following > .total {
  font-size: 18px;
  font-weight: 600;
}

.user-container > .stats > .followers {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
}

.user-container > .stats > .followers > .title {
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.user-container > .stats > .followers > .total {
  font-size: 18px;
  font-weight: 600;
}

.user-container > .stats > .likes {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
}

.user-container > .stats > .likes > .title {
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.user-container > .stats > .likes > .total {
  font-size: 18px;
  font-weight: 600;
}

.user-container > .stats > .lists {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.user-container > .stats > .lists > .title {
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.user-container > .stats > .lists > .total {
  font-size: 18px;
  font-weight: 600;
}

.user-container > .details-container > .tweet {
  margin-left: 20px;
  height: auto;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6ecf0;
  min-height: 144px;
  height: auto;
  width: 100%;
  margin-right: 20px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0px .5px 10px rgba(0,0,0,0.05);
  top: -45px;
  font-size: 24px;
  color: #14171a;
  text-align: center;
  direction: ltr;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 46px;
  background-color: #fff;
  z-index: 20;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 20px;
}

.about-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6ecf0;
  margin-top: 10px;
  min-height: 51px;
  height: auto;
  width: 100%;
  padding: 12px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 6px;
  box-shadow: 0px .5px 10px rgba(0,0,0,0.06);
  position: relative;
}

.about-container > img {
  border-radius: 6px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.about-container > .portrait {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

.about-container > .interest {
  border-radius: 40%;
  transform: rotate(-35deg);
  width: 200px;
  height: auto;
  position: relative;
  right: -100px;
  top: -100px;
}

.about-container > .interest2 {
  border-radius: 40%;
  transform: rotate(35deg);
  width: 200px;
  height: auto;
  position: relative;
  left: -100px;
  top: -220px;
}

.about-container > a {
  float: left;
  position: absolute;
  left: 20px;
  top: 20px;
}

.about-container > .details {
  margin-top: 0;
  padding: 20px;
}


@media only screen and (max-width: 800px) {

  button {
    font-size: 12px;
  }

  .logo {
    font-size: 20px;
  }

  .navbar > p {
    font-size: 12px;
  }

  .user-details > .name {
    font-size: 12px;
  }

  .user-details > .screen-name, .date {
    font-size: 10px;
  }

  .user-container > .details-container > .details > .name {
    font-size: 16px;
  }

  .user-container > .details-container > .details > .username {
    font-size: 12px;
  }

  .user-container > .details-container > .details > .description {
    font-size: 12px;
  }

  .user-container > .details-container > .details > .location {
    font-size: 12px;
  }

  .user-container > .details-container > .details > .joined {
    font-size: 12px;
  }

  .user-container > .stats > .tweets > .title {
    font-size: 10px;
  }

  .user-container > .stats > .tweets > .total {
    font-size: 14px;
  }


  .user-container > .stats > .following > .title {
    font-size: 10px;
  }

  .user-container > .stats > .following > .total {
    font-size: 14px;
  }

  .user-container > .stats > .followers > .title {
    font-size: 10px;
  }

  .user-container > .stats > .followers > .total {
    font-size: 14px;
  }

  .user-container > .stats > .likes > .title {
    font-size: 10px;
  }

  .user-container > .stats > .likes > .total {
    font-size: 14px;
  }

  .user-container > .stats > .lists > .title {
    font-size: 10px;
  }

  .user-container > .stats > .lists > .total {
    font-size: 14px;
  }

  .user-container > .details-container > .tweet {
    font-size: 18px;
  }

  .footer {
    font-size: 14px;
  }

  .about-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    margin-top: 10px;
    min-height: 51px;
    height: auto;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px .5px 10px rgba(0,0,0,0.06);
    position: relative;
  }

  .about-container > img {
    border-radius: 6px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  .about-container > .portrait {
    width: 300px;
    height: auto;
    margin-top: 20px;
  }

  .about-container > .interest {
    border-radius: 40%;
    transform: rotate(-35deg);
    width: 200px;
    height: auto;
    position: relative;
    right: -100px;
    top: -100px;
  }

  .about-container > .interest2 {
    border-radius: 40%;
    transform: rotate(35deg);
    width: 200px;
    height: auto;
    position: relative;
    left: -100px;
    top: -220px;
  }

  .about-container > a {
    float: left;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .about-container > .details {
    margin-top: 0;
    padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .user-container > .details-container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  input {
    width: 130px;
  }

  button {
    font-size: 10px;
  }

  .navbar {
    text-align: center;
  }

  .logo {
    font-size: 20px;
  }

  .navbar > p {
    display: none;
  }

  .user-details > .date {
    display: none;
  }

  .user-container > .avatar {
    left: 0px;
    top: -55px;
  }

  .user-container > .stats {
    position: relative;
    left: 15px;
    top: -55px;
    width: 90%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .user-container > .details-container > .details {
    width: 100%;
    padding: 10px;
  }

  .user-container > .details-container > .details > .name {
    font-size: 14px;
  }

  .user-container > .details-container > .details > .username {
    font-size: 10px;
  }

  .user-container > .details-container > .details > .description {
    width: 90%;
  }

  .user-container > .details-container > .details > .location {
    font-size: 10px;
  }

  .user-container > .details-container > .details > .joined {
    font-size: 10px;
  }

  .user-container > .stats > .tweets > .title {
    font-size: 8px;
  }

  .user-container > .stats > .tweets > .total {
    font-size: 10px;
  }


  .user-container > .stats > .following > .title {
    font-size: 8px;
  }

  .user-container > .stats > .following > .total {
    font-size: 10px;
  }

  .user-container > .stats > .followers > .title {
    font-size: 8px;
  }

  .user-container > .stats > .followers > .total {
    font-size: 10px;
  }

  .user-container > .stats > .likes > .title {
    font-size: 8px;
  }

  .user-container > .stats > .likes > .total {
    font-size: 10px;
  }

  .user-container > .stats > .lists > .title {
    font-size: 8px;
  }

  .user-container > .stats > .lists > .total {
    font-size: 10px;
  }

  .user-container > .details-container > .tweet {
    font-size: 16px;
    width: 90%;
  }

  .footer {
    font-size: 14px;
  }

  .about-container > .portrait {
    width: 200px;
  }

  .about-container > a {
    left: 10px;
    top: 10px;
  }

  .about-container > .details {
    margin-top: 0;
    padding: 20px;
    word-break: break-word;
  }
}

@media only screen and (max-width: 370px) {
  .user-container > .stats {
    left: 0;
  }
}